<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee" id="WebApp_ID" version="3.0">
  <display-name>ServletTutorial</display-name>
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BuyInsurance</display-name>
    <servlet-name>BuyInsurance</servlet-name>
    <servlet-class>controller.BuyInsurance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyInsurance</servlet-name>
    <url-pattern>/BuyInsurance</url-pattern>
  </servlet-mapping>
</web-app>